<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin Panel</title>
</head>
<body>

<!--                      !!!!!!!!!!!!!!!!!!!!!Header!!!!!!!!!!!!!!!!!                                               -->
<nav class="navbar navbar-dark bg-dark" id="adminTopPanel">

</nav>
<!--                      !!!!!!!!!!!!!!!!!!!!!Header!!!!!!!!!!!!!!!!!                                               -->


<div class="container-fluid bd-light">
    <div class="row">


<!--                       !!!!!!!!!!!!!!!!!!!!!!!!Left Panel!!!!!!!!!!!!!!!!!!!!!                                  -->
        <div class="col-md-2 pr-0 pl-0">
            <br>
            <ul class="nav flex-column nav-pills" id="admLeftPanel">
            </ul>
        </div>
<!--                       !!!!!!!!!!!!!!!!!!!!!!!!Left Panel!!!!!!!!!!!!!!!!!!!!!                                  -->



        <div class="col-lg-10 pl-md-5 pr-md-5 bg-light" style="height: 1000px">
            <br>
            <h2>Admin panel</h2>
            <br>

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" role="tab" data-toggle="tab" href="#userTable">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#newUser">New User</a>
                </li>
            </ul>


            <!--                   !!!!!!!!!!!!!!!!!!!ALl User Content!!!!!!!!!!!!!!!!!!!!!                          -->
            <div class="tab-content bg-light">
                <div class="tab-pane fade show active" id="userTable" role="tabpanel" aria-labelledby="nav-table-tab">
                    <div class="col border bg-light p-0">

                        <div class="pl-md-3">
                            <h5 class="mt-2">All users</h5>
                        </div>

                        <div class="w-100"></div>

                    <div class="col border bg-white">
                        <br>
                            <table class="table table-striped">
                        <thead>
                        <tr>

                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>

                        </tr>
                        </thead>
                        <tbody  id="adminTable">

                        </tbody>
                                <!--                   !!!!!!!!!!!!!!!!!!!ALl User Content!!!!!!!!!!!!!!!!!!!!!                          -->


                                <!--                  !!!!!!!!!!!!!!!!!!!!Table Edit Modal!!!!!!!!!!!!!!!!!!!!!!!!                       -->
                                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                                     id="editModal" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form>
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <div class="form-group row justify-content-center text-center">
                                                        <div class="col-sm-6">

                                                            <strong><label for="editId">ID </label></strong>
                                                            <input type="text" class="form-control" name="Id"
                                                                   id="editId" readonly>
                                                            <br>

                                                            <strong><label for="editFirstName">First Name </label></strong>
                                                            <input type="text" class="form-control" name="name"
                                                                   id="editFirstName">
                                                            <br>

                                                            <strong><label for="editLastName">Last Name </label></strong>
                                                            <input type="text"  class="form-control" name="lastName"
                                                                   id="editLastName">
                                                            <br>

                                                            <strong><label for="editAge">Age </label></strong>
                                                            <input type="number" class="form-control" name="age"
                                                                   id="editAge">
                                                            <br>

                                                            <strong><label for="editEmail">Email </label></strong>
                                                            <input type="email" class="form-control" name="emailAddress"
                                                                   id="editEmail">
                                                            <br>

                                                            <strong><label for="editPassword">Password </label></strong>
                                                            <input type="password" class="form-control" name="password"
                                                                   id="editPassword">
                                                            <br>


                                                            <strong><label class="my-1 mr-2" for="editRole">Role</label></strong>
                                                            <select multiple size="2" class="custom-select my-1 mr-sm-2"  name="roles"
                                                                    id="editRole" required>
                                                                <option value="1 ADMIN">ADMIN</option>
                                                                <option value="2 USER">USER</option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="editBtn">Edit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--                  !!!!!!!!!!!!!!!!!!!!Table Edit Modal!!!!!!!!!!!!!!!!!!!!!!!!                                   -->

                                <!--                   !!!!!!!!!!!!!!!!!!!!!!Table Delete Modal!!!!!!!!!!!!!!!!!!!!!                                 -->
                                <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog"
                                     aria-labelledby="editModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form>
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Delete user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <div class="form-group row justify-content-center text-center">
                                                        <div class="col-sm-6">

                                                            <strong><label for="deleteId">ID </label></strong>
                                                            <input type="text" class="form-control"
                                                                   id="deleteId" readonly>
                                                            <br>

                                                            <strong><label for="deleteFirstName">First Name </label></strong>
                                                            <input type="text" class="form-control"
                                                                   id="deleteFirstName" readonly>
                                                            <br>

                                                            <strong><label for="deleteLastName">Last Name </label></strong>
                                                            <input type="text" class="form-control"
                                                                   id="deleteLastName" readonly>
                                                            <br>

                                                            <strong><label for="deleteAge">Age </label></strong>
                                                            <input type="text" class="form-control"
                                                                   id="deleteAge" readonly>
                                                            <br>

                                                            <strong><label for="deleteEmail">Email </label></strong>
                                                            <input type="text" class="form-control"
                                                                   id="deleteEmail" readonly>
                                                            <br>

                                                            <strong><label for="deletePassword">Password </label></strong>
                                                            <input type="password" class="form-control"
                                                                   id="deletePassword" readonly>
                                                            <br>

                                                            <strong><label class="my-1 mr-2" for="deleteRole">Role</label></strong>
                                                            <select class="custom-select my-1 mr-sm-2" id="deleteRole" size="2" name="roles" disabled>
                                                                <option value="1 ADMIN">ADMIN</option>
                                                                <option value="2 USER">USER</option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-danger" data-dismiss="modal" id="deleteBtn">Delete</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--                   !!!!!!!!!!!!!!!!!!!!!!Table Delete Modal!!!!!!!!!!!!!!!!!!!!!                     -->



                    </table>
                </div>
                </div>
            </div>

            <!--                                       !!!!!!!!!!!!!!!!!!!New User Content!!!!!!!!!!!!!!!!!!!        -->
                <div role="tabpanel" class="tab-pane fade" id="newUser" aria-labelledby="nav-add-tab">
                    <table class="table table-hover-bordered" style="background-color: white">
                        <thead>
                        <tr>
                            <h5 style="margin: 10px">
                                Add new user
                            </h5>
                        </tr>
                        </thead>
                        <tr>
                            <div align="center" style="background-color: white">
                                <form>
                                    <div class="col-3">

                                            <strong><label for="firstName">First Name</label></strong>
                                            <input type="text" class="form-control" id="firstName"
                                                   placeholder="Enter First name" required>


                                            <strong> <label for="lastName">Last name</label> </strong>
                                            <input type="text" class="form-control" id="lastName"
                                                   placeholder="Enter Last name" required>


                                            <strong><label for="age">Age</label> </strong>
                                            <input type="number" class="form-control" id="age"
                                                   placeholder="Enter Age" required>


                                            <strong><label for="email">Email</label> </strong>
                                            <input type="email" class="form-control" id="email"
                                                   placeholder="Enter Email" required>


                                            <strong><label for="password">Password</label> </strong>
                                            <input type="password" class="form-control" id="password"
                                                   placeholder="Enter Password" required>


                                            <strong><label class="my-1 mr-2" for="Roles">Role</label></strong>
                                            <select class="custom-select my-3" size="2" id="Roles" multiple>
                                                <option value="1 ADMIN">ADMIN</option>
                                                <option value="2 USER">USER</option>
                                            </select>

                                        <button type="submit" class="btn btn-success" id="addBtn">Add new user</button>
                                    </div>
                                </form>
                            </div>
                        </tr>
                    </table>
                </div>
            <!--                                       !!!!!!!!!!!!!!!!!!!New User Content!!!!!!!!!!!!!!!!!!!        -->

            </div>
        </div>
    </div>
</div>

<script src="/adminPage.js" ></script>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>