<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin Panel</title>
</head>
<body>

<!--                      !!!!!!!!!!!!!!!!!!!!!Header!!!!!!!!!!!!!!!!!                                               -->
<nav class="navbar navbar-dark bg-dark">
    <form class="form-inline">
        <strong>
            <span class="navbar-text-xl text-white" th:text="${user.emailAddress}"/>
        </strong>
        <span class="navbar-text-xl text-white">&nbsp with roles: &nbsp</span>
        <span class="navbar-text-xl text-white">
                    <a th:text="${user.roleName.replaceAll('ROLE_', '')}"/>
        </span>
    </form>
    <ul class="navbar-nav float-lg-end">
        <li class="nav-item">
            <a class="nav-link text-muted " th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>
<!--                      !!!!!!!!!!!!!!!!!!!!!Header!!!!!!!!!!!!!!!!!                                               -->


<div class="container-fluid bd-light">
    <div class="row">

<!--                       !!!!!!!!!!!!!!!!!!!!!!!!Left Column!!!!!!!!!!!!!!!!!!!!!                                  -->
        <div class="col-md-2 pr-0 pl-0">
            <br>
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>
<!--                       !!!!!!!!!!!!!!!!!!!!!!!!Left Column!!!!!!!!!!!!!!!!!!!!!                                  -->



        <div class="col-lg-10 pl-md-5 pr-md-5 bg-light" style="height: 1000px">
            <br>
            <h2>Admin panel</h2>
            <br>

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" role="tab" data-toggle="tab" href="#userTable">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#newUser">New User</a>
                </li>
            </ul>


            <!--                   !!!!!!!!!!!!!!!!!!!ALl User Content!!!!!!!!!!!!!!!!!!!!!                          -->
            <div class="tab-content bg-light">
                <div class="tab-pane fade show active" id="userTable" role="tabpanel" aria-labelledby="nav-table-tab">
                    <div class="col border bg-light p-0">

                        <div class="pl-md-3">
                            <h5 class="mt-2">All users</h5>
                        </div>

                        <div class="w-100"></div>

                    <div class="col border bg-white">
                        <br>
                            <table class="table table-striped">
                        <thead>
                        <tr>

                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="user, iterStat : ${allUsers}"  th:object="${user}">

                            <td th:text="*{id}"></td>
                            <td th:text="*{name}"></td>
                            <td th:text="*{lastName}"></td>
                            <td th:text="*{age}"></td>
                            <td th:text="*{username}"></td>
                            <td th:text="*{roleName.replaceAll('ROLE_', '')}"></td>

                            <td>
                                <button th:attr="data-target='#editModal' + *{id}"
                                        class="btn btn-info"
                                        data-toggle="modal" th:text="Edit"/>
                            </td>
            <!--                   !!!!!!!!!!!!!!!!!!!ALl User Content!!!!!!!!!!!!!!!!!!!!!                          -->


            <!--                  !!!!!!!!!!!!!!!!!!!!Table Edit Modal!!!!!!!!!!!!!!!!!!!!!!!!                       -->
                            <div th:attr="id='editModal' + *{id}" class="modal fade" tabindex="-1" role="dialog"
                                 aria-labelledby="editModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form th:method="POST" th:action="@{/admin/save}">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit user</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <div class="form-group row justify-content-center text-center">
                                                    <div class="col-sm-6">

                                                        <strong><label for="Id">ID </label></strong>
                                                        <input type="text" class="form-control" th:value="*{id}"
                                                               id="Id" name="Id" readonly>
                                                        <br>

                                                        <strong><label for="editFirstName">First Name </label></strong>
                                                        <input type="text" class="form-control"
                                                               name="name" id="editFirstName"  th:value="*{name}" >
                                                        <br>

                                                        <strong><label for="editLastName">Last Name </label></strong>
                                                        <input type="text"  class="form-control" th:value="*{lastName}"
                                                               name="lastName" id="editLastName">
                                                        <br>

                                                        <strong><label for="editAge">Age </label></strong>
                                                        <input type="number" class="form-control" th:value="*{age}"
                                                               name="age" id="editAge">
                                                        <br>

                                                        <strong><label for="editEmail">Email </label></strong>
                                                        <input type="email" class="form-control" th:value="*{emailAddress}"
                                                               name="emailAddress" id="editEmail">
                                                        <br>

                                                        <strong><label for="editPassword">Password </label></strong>
                                                        <input type="password" class="form-control" name="password"
                                                               id="editPassword">
                                                        <br>

                                                        <div class="form-group">
                                                            <strong><label class="my-1 mr-2" for="Choose4Edit">Role</label></strong>
                                                            <select class="custom-select my-1 mr-sm-2" multiple size="2" id="Choose4Edit" name="roles">
                                                                <option  th:value="1">ADMIN</option>
                                                                <option th:value="2">USER</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="Close"/>
                                                <input type="submit" class="btn btn-primary" value="Edit"/>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
<!--                  !!!!!!!!!!!!!!!!!!!!Table Edit Modal!!!!!!!!!!!!!!!!!!!!!!!!                                   -->

                            <td>
                                <button th:attr="data-target='#deleteModal' + *{id}" class="btn btn-danger"
                                        data-toggle="modal" th:text="Delete"/>
                            </td>

<!--                   !!!!!!!!!!!!!!!!!!!!!!Table Delete Modal!!!!!!!!!!!!!!!!!!!!!                                 -->
                            <div th:attr="id='deleteModal' + *{id}" class="modal fade" tabindex="-1" role="dialog"
                                 aria-labelledby="editModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form th:method="POST" th:action="@{/admin/{id}(id=*{id})}">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Delete user</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <div class="form-group row justify-content-center text-center">
                                                    <div class="col-sm-6" th:object="${user}">

                                                        <strong><label for="deleteId">ID </label></strong>
                                                        <input type="text" class="form-control" th:value="*{id}"
                                                               id="deleteId" readonly>
                                                        <br>

                                                        <strong><label for="deleteFirstName">First Name </label></strong>
                                                        <input type="text" class="form-control" th:value="*{name}"
                                                               id="deleteFirstName" readonly>
                                                        <br>

                                                        <strong><label for="deleteLastName">Last Name </label></strong>
                                                        <input type="text" class="form-control" th:value="*{lastName}"
                                                               id="deleteLastName" readonly>
                                                        <br>

                                                        <strong><label for="deleteAge">Age </label></strong>
                                                        <input type="text" class="form-control" th:value="*{age}"
                                                               id="deleteAge" readonly>
                                                        <br>

                                                        <strong><label for="deleteEmail">Email </label></strong>
                                                        <input type="text" class="form-control"  th:value="*{emailAddress}"
                                                               id="deleteEmail" readonly>
                                                        <br>

                                                        <strong><label for="deletePassword">Password </label></strong>
                                                        <input type="password" class="form-control"
                                                               name="Password" id="deletePassword" readonly>
                                                        <br>

                                                        <div class="form-group">
                                                           <strong><label class="my-1 mr-2" for="Choose4Del">Role</label></strong>
                                                            <select class="custom-select my-1 mr-sm-2" id="Choose4Del" size="2" name="roles" disabled>
                                                                <option th:value="1" th:text="ADMIN"></option>
                                                                <option  th:value="2" th:text="USER"></option>
                                                            </select>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="Close"/>
                                                <input type="submit" class="btn btn-primary" value="Delete"/>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
            <!--                   !!!!!!!!!!!!!!!!!!!!!!Table Delete Modal!!!!!!!!!!!!!!!!!!!!!                     -->

                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>

            <!--                                       !!!!!!!!!!!!!!!!!!!New User Content!!!!!!!!!!!!!!!!!!!        -->
                <div role="tabpanel" class="tab-pane fade" id="newUser" aria-labelledby="nav-add-tab">
                    <table class="table table-hover-bordered" style="background-color: white">
                        <thead>
                        <tr>
                            <h5 style="margin: 10px">
                                Add new user
                            </h5>
                        </tr>
                        </thead>
                        <tr>
                            <div align="center" style="background-color: white">
                                <form th:method="POST" th:action="@{/admin/save}" th:object="${newUser}">
                                    <div class="col-3">

                                        <div class="form-group">
                                            <strong><label for="firstName">First Name</label></strong>
                                            <input type="text" th:field="*{name}" class="form-control" id="firstName"
                                                   placeholder="Enter First name" required>
                                        </div>

                                        <div class="form-group">
                                            <strong> <label for="lastName">Last name</label> </strong>
                                            <input type="text" th:field="*{lastName}" class="form-control" id="lastName"
                                                   placeholder="Enter Last name" required>
                                        </div>

                                        <div class="form-group">
                                            <strong><label for="age">Age</label> </strong>
                                            <input type="number" th:field="*{age}" class="form-control" id="age"
                                                   placeholder="Enter Age" required>
                                        </div>

                                        <div class="form-group">
                                            <strong><label for="email">Email</label> </strong>
                                            <input type="email" th:field="*{emailAddress}" class="form-control" id="email"
                                                   placeholder="Enter Email" required>
                                        </div>

                                        <div class="form-group" >
                                            <strong><label for="password">Password</label> </strong>
                                            <input type="password" th:field="*{password}" class="form-control" id="password"
                                                   placeholder="Enter Password" required>
                                        </div>

                                        <div class="form-group">
                                            <strong><label class="my-1 mr-2" for="Choose">Role</label></strong>
                                            <select class="custom-select my-3" size="2" th:field="*{roles}" id="Choose" multiple>
                                                <option th:value="1" th:text="ADMIN"></option>
                                                <option  th:value="2" th:text="USER"></option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-success">Add new user</button>
                                    </div>
                                </form>
                            </div>
                        </tr>
                    </table>
                </div>
            <!--                                       !!!!!!!!!!!!!!!!!!!New User Content!!!!!!!!!!!!!!!!!!!        -->

            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>