<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User Page</title>
</head>
<body>

<!--                                     Header                                                                      -->
<nav class="navbar navbar-dark bg-dark">
    <form class="form-inline">
        <strong>
            <span class="navbar-text-xl text-white" th:text="${user.emailAddress}"/>
        </strong>
        <span class="navbar-text-xl text-white">&nbsp with roles: &nbsp</span>
        <span class="navbar-text-xl text-white">
                    <a th:text="${user.roleName}"/>
        </span>
    </form>
    <ul class="navbar-nav float-lg-end">
        <li class="nav-item">
            <a class="nav-link text-muted " th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>
<!--                                     Header                                                                      -->


<div class="container-fluid">
    <div class="row">

        <div th:each="role : ${user.getRoles()}" class="col-md-2">
            <ul class="nav flex-column nav-pills nav">
                <li class="nav-item">
                    <a class="nav-link active " href="/user" th:text="${role.name.substring(4, role.name.length()).toLowerCase()}"/>
                </li>
            </ul>
        </div>

        <div class="col-md-10 col-md-offset-1 bg-light">
            <br>
            <h1>User Information-page</h1>
            <div class="tab-content">
                <div class="tab-pane table-striped container-fluid active">
                    <div class="row">

                        <div class="col border bg-light">
                            <p><h5>About user</h5>
                        </div>
                        <div class="w-100"></div>
                        <div class="col border bg-white">
                            <br/>
            <table class="table  table-striped">
                <thead>
                <tr>

                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>

                </tr>
                </thead>
                <tbody>

<!--                            Entity for test-->
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>22</td>
                    <td>@mdo</td>
                    <td>Admin</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>23</td>
                    <td>@fat</td>
                    <td>User</td>
                </tr>
<!--                            Entity for test-->



                <tr th:each="user, iterStat : ${allUser}">

                    <td th:text="${iterStat.index}+1"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.roleName}"></td>

                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>
</html>