<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User_table</title>
</head>
<body>
<h2>User info</h2>

<br>

<form th:method="POST" th:action="@{/admin/save}" th:object="${user}">
    <input type="hidden" name="id" th:value="${user.getId()}"/>

    <label for="name">First name:</label>
    <input type="text" th:field="*{name}" id="name"/>

    <br><br>

    <label for="lastName">Last name:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>

    <br><br>

    <label for="age">Age:</label>
    <input type="number" th:field="*{age}" id="age"/>

    <br><br>

    <label for="Email">Login:</label>
    <input type="text" th:field="*{getEmailAddress}" id="Email"/>

    <br><br>

    <label for="Password">Password:</label>
    <input type="text" th:field="*{password}" id="Password"/>

    <br><br>


    <th:block th:each="role: ${roles}">
        <label>
            <input type="checkbox" th:field="*{roles}" id="roleName" name="roleName"
                    th:name="roleName" th:text="${role.name}" th:value="${role.id}" class="m-2" />
        </label>
    </th:block>


    <br><br>

    <input type="submit" value="Save"/>

</form>
</body>
</html>